
    <h1>HealthyUs Negative Beta</h1>
    <p>
      This is the test page for the
      <a href="http://www.healthyus.com/">HealthyUs</a>
      version Negative Beta.
    </p>

	<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>

